.login-form{
    padding-top: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
}
.submit-area input{
    margin-bottom: 20px;
}
#transaction-area{
    padding: 100px 0;
    display: none;
}
.status{
    padding: 25px;
    border-radius: 15px;
    background-color: #f6f6f6;
}